<%- contentFor('body') %>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Leave requests</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Leave requests</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Leave Requests
            </div>
            <div class="card-body">
                <!-- Add Date Filter -->
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="fromDate" class="form-label">From Date:</label>
                        <input type="date" id="fromDate" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label for="toDate" class="form-label">To Date:</label>
                        <input type="date" id="toDate" class="form-control" />
                    </div>
                    <div class="col-md-2 align-self-end">
                        <button id="applyFilter" class="btn btn-primary w-100">Apply Filter</button>
                    </div>
                </div>
                
                <table id="leave-reqs-table">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Department</th>
                            <th>Name</th>
                            <th>Leave type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <script src="/js/datatable-config.js"></script>
                <script src="/js/leave-req/leave-req.js"></script>
            </div>
        </div>
    </div>