<%- contentFor('body') %>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Leave requests</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Leave requests</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Leave Requests
            </div>
            <div class="card-body">
                <table id="leave-reqs-table">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Department</th>
                            <th>Name</th>
                            <th>Leave type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <script src="/js/datatable-config.js"></script>
                <script>

                    // Initialize DataTable with default settings
                    const columns = [
                        { data: 'created_at' },
                        { data: 'department' },
                        { data: 'requestername' },
                        { data: 'leave_type' },
                        {
                            data: 'status',
                            render: function (data, type, row) {
                                if (data === 'Pending') {
                                    return `<button class="btn btn-warning btn-sm">Pending</button>`;
                                } else if (data === 'Approved') {
                                    return `<button class="btn btn-success btn-sm">Approved</button>`;
                                } else if (data === 'Rejected') {
                                    return `<button class="btn btn-danger btn-sm">Rejected</button>`;
                                } else {
                                    return `<button class="btn btn-secondary btn-sm">Unknown</button>`;
                                }
                            }
                        },

                        {
                            data: 'id',
                            render: function (data, type, row) {

                                return `<a class="btn btn-sm btn-info" href="/leaves/leave-req-detail/${data}">View</a>`;
                            }
                        }
                    ];
                    initializeDataTable('#leave-reqs-table', '/leaves/leave-req-ajax', columns);
                </script>
            </div>
        </div>
    </div>