<%- contentFor('body') %>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Employees</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Employees</li>
        </ol>
        <a class="btn btn-primary btn-block" href="/employee/add-emp">Create employee</a>
        <a class="btn btn-primary btn-block " href="/employee/import-data">Import employees</a>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Employee list
            </div>
            <div class="card-body">
                <table id="employees-table">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Manager</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <script src="/js/datatable-config.js"></script>
                <script src="/js/employee/employee.js"></script>
             </div>
        </div>
    </div>